<h1>New Content</h1>

<% if @errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@errors.count, "error") %> prohibited this content from being saved:</h4>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [@user, @display, @content], local: true, validate: true) do |form| %>
  <% limit = 3 %>
  <% if @display.contents.count >= limit %>
    <p class="alert alert-warning">Maximum number of contents (3) reached for this display.</p>
  <% else %>
    <p>Contents created: <%= @display.contents.count %> / <%= limit %></p>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

    <%= content_tag :div, data: { controller: 'recorder' } do %>
      <%= form.label :audio %>
      <%= form.file_field :audio, hidden: true, direct_upload: true, data: { target: 'recorder.input' } %>
      <p>
        <%= button_tag 'RECORD',
               class: 'btn btn-primary',
               data: { target: 'recorder.recordButton', action: 'click->recorder#record' } %>
        <%= button_tag 'STOP',
                      class: 'btn btn-primary hidden',
                      data: { target: 'recorder.stopButton', action: 'click->recorder#stop' } %>
    </p>
    <% end %>
    
    <div class="actions">
      <%= form.submit @display.contents.count < (limit - 1) ? 'Add Another Content' : 'Create Slideshow' %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back', user_display_path(@user, @display) %>


