
<h1>Slideshows</h1>

<div id="displays">
  <% if @display.present? %>
    <% @display.each do |display| %>
      <%= render display %>
      <p>
        <%= link_to "Show this display", user_display_path(user_id: display.user.id, id: display.id) %>
        <%= button_to "Destroy this display", user_display_path(user_id: display.user.id, id: display.id), method: :delete, data: { turbo_confirm: 'Are you sure?'} %>
      </p>
    <% end %>
  <% else %>
    <p>No slideshows present.</p>
  <% end %>
</div>

<%= link_to "Create Slideshow", new_user_display_path(current_user) %>
<%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete} %>